{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hospital Angel</h1>
    <h2>Eres medico o paciente???</h2>
    <a href="{{ path('cita_new') }}"><button>Paciente</button></a>
    <a href="{{ path('angel_hospital_mostrar_medicos') }}"><button>Medico</button></a>
{% endblock %}
